
<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
			After the Course	
			</h1>
			<p>
				by Tyler Conklin
			</p>
		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>Here are some resources to help you continue your learning after the course!</p>
				<p>This course was based on CS106A at Stanford.
				The current official course website is <a href="http://web.stanford.edu/class/cs106a/">here</a></p>
				<p>An excellent set of lecture videos from an older offering of
				CS106A can be found <a href="https://www.youtube.com/watch?v=KkMDCCdjyW8&list=PLg8KZgTw-gyGqG2AQb66QWsTevTZ92I7p">here</a></p>
				<p>A more recent set of lecture videos (only slides shown on the video) can be
				found <a href="https://www.youtube.com/watch?v=tgEq4e9nQ5E&list=PLAe8LJLmXkN1348vyNZ87L_t_KlbMFIYr">here</a></p>
				<p>Comp130 is a different course based on similar material at Koc Univeristy in Turkey.<br/>It's current website can be found at <a href="https://sites.google.com/a/ku.edu.tr/comp130/">this link</a></p>
				<p>Have fun, and best wishes for your future adventures in programming!</p>
			</div>
		</div>

		
		
		%include templates/parts/footer.html

	</div>
</body>
