<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Submitting Assignments
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				At the end of each day, before you go home, submit your work!
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>How to Submit</h2>
				<p>To submit follow these three steps:</p>
				<ol>
					<li>Zip the folder containing your project. A helpful tutorial video can be found <a href="https://www.youtube.com/watch?v=pQiv-nu-2CY">here</a>.</li>
					<li>Name the Zip using your <b>full name</b> and the <b>project name</b>. For example I would call my zip: <code>Tyler_Conklin_Day1.zip</code> if I was submitting the 'Random Painter' project.</li>
					<li>Upload the file by following the link for you section leader below</li>
				</ol>
			</div>
		</div>

		<h3>Select your Section Leader</h3>
		<ul class="row">
		<li><a href="https://www.dropbox.com/request/OBpnANttC5eQJk8sk22P">Zoe</a></li>
		<li><a href="https://www.dropbox.com/request/VeGF25HIzVo2TW4iREaO">Radek</a></li>
		<li><a href="https://www.dropbox.com/request/kgst614OnRn6WwRSlcpS">Jaroslav</a></li>
		<li><a href="https://www.dropbox.com/request/TBaXcS0bwtfh9yhsIcgZ">Greg</a></li>
		<li><a href="https://www.dropbox.com/request/YGXl0f7goHChJmuFrEmW">Vaclav</a></li>
		<li><a href="https://www.dropbox.com/request/0RKa3z0lw4p2YFMcAF0P">Julia</a></li>
		<li><a href="https://www.dropbox.com/request/hL77QDBOcNA0DOGnoD0U">Travis</a></li>
		<li><a href="https://www.dropbox.com/request/yDOXO6yNMagp2bimG76i">Matyas</a></li>
		<li><a href="https://www.dropbox.com/request/eUCIuUSW0z9yPMSHXCOL">Marek</a></li>
		<li><a href="https://www.dropbox.com/request/U0ffnjmAJYx5cMSILQQa">Sam</a></li>
		</ul>
		
		
		%include templates/parts/footer.html

	</div>
</body>
